@use '@style/global' as g;

.rankingSection {
  background-color: g.$color-section-bg;
  padding: map-get(g.$spaces, 25) 0 0;
}

.rankingList {
  @include g.maxWidthContent;
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    &:not(:nth-child(5n)) {
      margin-right: 1.3%;
    }
    &:nth-child(n + 6) {
      margin-top: map-get(g.$spaces, 5);
    }
  }
}
