@use '@style/global' as g;

.cardBlock {
  display: flex;
  flex-direction: column;
  border-radius: map-get(g.$spaces, 2);
  border: 1px solid transparent;
  background-color: g.$color-default;
  overflow: hidden;
  color: g.$color-base-text;
  justify-content: space-between;
  &__price {
    font-size: g.$smallFontSize;
    text-align: right;
    font-weight: bold;
    padding: 0 5% map-get(g.$spaces, 4);
  }
}

.cardInfo {
  font-size: g.$xSmallFontSize;
  &__img {
    height: 100%;
  }
  &__subtitle {
    padding: map-get(g.$spaces, 4) 5% 0;
  }
  &__name {
    padding: map-get(g.$spaces, 4) 5% map-get(g.$spaces, 8);
  }
}
