@use '@style/global' as g;

.topicSection {
  background-color: g.$color-section-bg;
  padding: map-get(g.$spaces, 40) 0 0;
}

.topicList {
  @include g.maxWidthContent;
  &__card {
    width: 320px;
  }
}

.pagination {
  bottom: -1 * map-get(g.$spaces, 5);
}

.page {
  background-color: g.$color-slider-pagination-page;
}
