@use '@style/global' as g;

.buttonItem {
  $root: &;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: map-get(g.$spaces, 2);
  width: 150px;
  border: 1px solid g.$color-header-button-border;
  border-radius: map-get(g.$spaces, 1);
  @include g.bp-less(g.$bp-mobile) {
    width: 136px;
    font-size: g.$smallFontSize;
  }
  &__img {
    position: relative;
    margin-right: map-get(g.$spaces, 3);
  }
  &__text {
    font-size: g.$smallFontSize;
  }
  &Reverse {
    background-color: g.$color-header-button-border;
    color: g.$color-default;
    #{$root} {
      &__img {
        filter: invert(100%);
      }
    }
  }
}

.icon {
  width: inherit;
  height: 26px;
}

.count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: g.$xSmallFontSize;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  top: map-get(g.$spaces, 1) * -1;
  right: map-get(g.$spaces, 2);
  transform: translateX(100%);
}
